@font-face {
  font-family: "Roboto";
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.eot");
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.eot?#iefix") format("embedded-opentype"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.woff2") format("woff2"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.woff") format("woff"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-light.eot");
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-light.eot?#iefix") format("embedded-opentype"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-light.woff2") format("woff2"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-light.woff") format("woff"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.eot");
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.eot?#iefix") format("embedded-opentype"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.woff2") format("woff2"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.woff") format("woff"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-medium.eot");
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-medium.eot?#iefix") format("embedded-opentype"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-medium.woff2") format("woff2"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-medium.woff") format("woff"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-bold.eot");
  src: url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-bold.eot?#iefix") format("embedded-opentype"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-bold.woff2") format("woff2"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-bold.woff") format("woff"), url("https://i.alicdn.com/artascope-font/20160419204543/font/roboto-bold.ttf") format("truetype");
  font-weight: 700; }
body {
  margin: 0;
  font-family: Roboto,"PingFang SC","Helvetica Neue",Arial,Helvetica,sans-serif;
}

@media (min-width: 500px) {
  header {
    max-width: 42rem;
    margin: auto;
    padding: 10px 0;
  }

  .content {
    max-width: 42rem;
    margin: auto;
  }

  .footer {
    flex-flow: column nowrap;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: gray;
  
    a {
      color: gray;
      text-decoration: none;
    }
  }
}

.title {
  font-weight: bolder;
  font-size: 20px;
}

.next-nav.next-hoz .next-menu-item-inner {
  font-size: medium;
}

.next-nav.next-line.next-hoz {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.next-nav.next-line .next-nav-item.next-menu-item.next-selected {
  transition: background-color 150ms ease-in 0s;
  font-weight: bold;
  color: var(--link-color);
  text-decoration: none;
}

.next-nav.next-line .next-nav-item.next-menu-item:hover {
  background-color: transparent;
  color: var(--link-color);
  font-weight: bold;
}

@media (max-width: 600px) {

  .layout {
    padding: 20px;
  }

  .footer {
    flex-flow: column nowrap;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: gray;
  
    a {
      color: gray;
      text-decoration: none;
    }
  }
}
.next-shell-light .next-shell-header {
  position: fixed;
  color: #fff;
  height: 60px;
  background: transparent;
  border-bottom: 1px solid #E6E7EB;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.next-shell-light .next-shell-header .next-shell-navigation {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding:0;
 }
.next-shell-light .next-shell-main {
  background: #ffffff;
  margin-top: 60px;
}
.next-shell-light .next-shell-aside .next-shell-localnavigation {
  width: 283px;
  padding: 0;
  background: #fafafa;
  border-right: 1px solid #E6E7EB;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.next-shell-light .next-shell-main .next-shell-content {
  padding: 0;
}

.next-nav.next-normal .next-menu-sub-menu .next-menu-item {
  color: #595959;
}

.article {
  font-size: 14px;
  line-height: 2;
  color: #314659;
  margin: 0 auto;
  padding: 20px 0;
}

.article h1 {
  font-size: 28px;
  margin: 28px auto 10px;
}

.article h2 {
  font-size: 24px;
  margin: 24px auto 8px;
}

.article h3 {
  font-size: 20px;
  margin: 20px auto 6px;
}

.article h4 {
  font-size: 16px;
  margin: 16px auto 4px;
}

.article h1,
.article h2,
.article h3,
.article h4 {
  font-weight: normal !important;
  line-height: 1;
  color: #0d1a26;
}

.article h1:first-child,
.article h2:first-child,
.article h3:first-child,
.article h4:first-child {
  margin-top: 0;
}

.article p {
  font-size: 14px;
  margin: 14px 0;
}

.article strong {
  font-weight: bold;
}

.article em {
  font-style: normal;
}

.article code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 2px;
}

.article pre {
  background: #f2f4f5;
  color: #314659;
  font-size: 12px;
  padding: 12px 20px;
  margin: 16px 0;
  border-radius: 3px;
  overflow: auto;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.article pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  color: #93a1a1;
}

.article .code.solarized-dark {
  background-color: #002b36;
  color: #93a1a1;
}

.article blockquote {
  border-left: #ddd solid 3px;
  margin-left: 0;
  padding: 5px 10px;
  color: #999;
}

.article ul {
  list-style-type: circle;

  li {
    margin-left: 20px;
    padding-left: 4px;
  }
}

.article ol {
  list-style-type: decimal;

  li {
    margin-left: 20px;
    padding-left: 4px;
  }
}

.article a {
  text-decoration: none;
}

.article a:hover {
  color: #3e71f7;
}

.article a:active {
  color: #3e71f7;
}

.article img {
  max-width: 100%;
  padding: 5px;
}

.help-loading {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: center;
}

.article .document__toc {
  @media screen and (min-width: 1400px) {
    position: fixed;
    right: 20px;
    top: 80px;
  }
}
