
body {
  margin: 0;
  font-family: Roboto,"PingFang SC","Helvetica Neue",Arial,Helvetica,sans-serif;
}

/* Header
   ========================================================================== */
.header {
  min-width: 1200px;
  color: white;
  font-size: 14px;
  background: transparent;

  &-limit {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }

  &-logo {
    a {
      line-height: 0;
    }
    img {
      height: 31px;
    }
  }

  &-simple {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-title {
    font-size: 12pt;
  }

  &-item {
    margin-left: 30px;
    color: #fff;
  }
}

.next-shell-light .next-shell-header {
  position: fixed;
  color: #fff;
  height: 80px;
  border-bottom: 1px solid #E6E7EB;
  -webkit-box-shadow: none;
  padding-left: 40px;
  box-shadow: none;
}
.next-shell-light .next-shell-header .next-shell-navigation {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
 }
.next-shell-light .next-shell-main {
  margin-top: 80px;
  background: #fff;
}
.next-shell-light .next-shell-aside .next-shell-localnavigation {
  width: 283px;
  background: #fafafa;
  border-right: 1px solid #E6E7EB;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.next-search-simple .next-input, .next-search-simple .next-search-left {
  border-radius: 500px;
}

.next-nav.next-normal .next-menu-sub-menu .next-menu-item {
  color: #595959;
}
.next-nav.next-ver .next-menu-sub-menu .next-menu-item-inner {
  font-size: 14px;
}

.wiki {
  margin: 0 auto;
  padding: 40px;
  color: #314659;
  font-size: 14px;
  line-height: 2;


}

.wiki h1 {
  margin: 28px auto 20px;
  font-size: 28px;
}

.wiki h2 {
  margin: 24px auto 16px;
  font-size: 24px;
}

.wiki h3 {
  margin: 20px auto 12px;
  font-size: 20px;
}

.wiki h4 {
  margin: 16px auto 8px;
  font-size: 16px;
}

.wiki h5 {
  margin: 16px auto 8px;
  font-size: 14px;
}

.wiki h6 {
  margin: 16px auto 8px;
  font-size: 14px;
}

.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4 {
  color: #0d1a26;
  font-weight: normal!important;
  line-height: 1;
}

.wiki h1:first-child,
.wiki h2:first-child,
.wiki h3:first-child,
.wiki h4:first-child {
  margin-top: 0;
}

.wiki p {
  margin: 0;
  line-height: 24px;
}

.wiki strong {
  font-weight: bold;
}

.wiki em {
  font-style: normal;
}

.wiki code {
  padding: 2px 4px;
  color: #c7254e;
  font-size: 90%;
  background-color: #f9f2f4;
  border-radius: 2px;
}

.wiki pre {
  margin: 16px 0;
  padding: 12px 20px;
  color: #314659;
  font-size: 12px;
  background: #f2f4f5;
  border-radius: 3px;
  overflow: auto;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.wiki pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  color: #93a1a1;
}

.wiki .code.solarized-dark {
  background-color: #002b36;
  color: #93a1a1;
}

.wiki blockquote {
  border-left: #ddd solid 3px;
  margin-left: 0;
  padding: 5px 10px;
  color: #999;
}

.wiki ul {
  list-style-type: circle;

  li {
    margin-left: 20px;
    padding-left: 4px;
  }
}

.wiki ol {
  list-style-type: decimal;

  li {
    margin-left: 20px;
    padding-left: 4px;
  }
}

.wiki a {
  text-decoration: none;
}

.wiki img {
  max-width: 100%;
  padding: 5px;
}

.help-loading {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: center;
}

.wiki .document__toc {
  @media screen and (min-width: 1400px) {
    position: fixed;
    top: 80px;
    right: 20px;
  }
}

.wiki {
  .ne-table{
    border-collapse: collapse;
  }
  .ne-table, th, td{
    border: 1px solid #000;
  }  
}